<h1>Crear Plantilla</h1>

<form method="post">
    <label>Código Hospital</label>
    <input type="text" name="HospitalCod" class="form-control" />
    <label>Código Sala</label>
    <input type="text" name="SalaCod" class="form-control" />
    <label>Número Empleado</label>
    <input type="text" name="EmpleadoNo" class="form-control" />
    <label>Apellido</label>
    <input type="text" name="Apellido" class="form-control" />
    <label>Función</label>
    <input type="text" name="Funcion" class="form-control" />
    <label>Turno</label>
    <input type="text" name="Turno" class="form-control" />
    <label>Salario</label>
    <input type="text" name="Salario" class="form-control" />
    <button class="btn btn-success">Crear Plantilla</button>
</form>